<!-- base.html과 연결 -->
{% extends 'blog/base.html' %}

{% load crispy_forms_tags %}

{% block title %}{{ object.title }} - Blog{% endblock %}

{% block content %}

    <!-- Title -->
    <h1 class="mt-4">{{ object.title }}</h1>

    {% if object.category %}
        <span class="badge badge-primary float-right">{{ object.category }}</span>
    {% else %}
        <span class="badge badge-primary float-right">미분류</span>
    {% endif %}

    <!-- Author -->
    <p class="lead">
        by
        <a href="#">{{ object.author.username }}</a>
    </p>

    <!-- Date/Time -->
    <p>Posted on {{ object.created }}
        {% if request.user == object.author %}
            <button type="button" class="btn btn-sm btn-outline-secondary float-right"
                    onclick="location.href='{{ object.get_update_url }}'">EDIT
            </button>
        {% endif %}
    </p>
    <!-- Preview Image -->
    {% if object.head_image %}
        <img class="img-fluid rounded" src="{{ object.head_image.url }}" alt="object.title">
    {% endif %}

    <!-- Post Content -->
    {{ object.get_markdown_content | safe }}




{% endblock %}