<!-- 템플릿 확장, 서로 다른 페이지에서 html의 일부를 재사용 가능 -->
{% extends 'blog/base.html' %}
{% block content %}
    <h1>Blog</h1>
    <!-- Blog Post -->
    {% if object_list.exists %}
        {% for p in object_list %}
            <div class="card mb-4">

                {% if p.head_image %}
                    <img class="card-img-top" src="{{ p.head_image.url }}" alt="Card image cap">
                {% else %}
                    <img class="card-img-top" src="https://picsum.photos/750/300/?blur=2"
                         alt="Card image cap">
                {% endif %}
                <div class="card-body">
                    {% if p.category %}
                    <span class="badge badge-primary float-right">{{ p.category }}</span>
                    {% else %}
                    <span class="badge badge-primary float-right">미분류</span>
                    {% endif %}
                    <h2 class="card-title">{{ p.title }}</h2>
                    <p class="card-text">{{ p.content | truncatewords:30 }}</p>
                    <a href="{{  p.get_absolute_url }}" class="btn btn-primary" id="read-{{ p.pk }}">Read More &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    Posted on {{ p.created }} by
                    <a href = "#">{{ p.author }}</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h3>아직 게시물이 없습니다.</h3>
    {% endif %}
{% endblock %}
